<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='/JS/jquery-3.6.0.min.js') }}" ></script>
        <script type="text/javascript" src="{{ url_for('static', filename='/JS/script.js') }}" ></script>
        <title>Random Pokémon</title>
    </head>

    <body>
        <header>
            <h1>Random Pokémon</h1>
        </header>
        <div class="pokecard">
            <div class="img-container"> 
                <img id="pokemon-img" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png">
            </div>
            <h2 class="name" id="name">
                Ditto
            </h2>
            <div class="types"> <!-- Tipos -->
                <div class="type" id="type01">Normal</div>
                <div class="type" id="type02">None</div>
            </div>
            <div class="button-box"> <!-- Botão Generate -->
                <button onclick="getRandomPokemon()">Generate</button>
            </div>
        </div>
    </body>
</html>